{% extends 'base.html.twig' %}

{% block title %}Hello NewsletterController!{% endblock %}

{% block body %}
<h1>Votre inscription a bien été pris en compte</h1>

Votre adresse est : {{ email }}
{% endblock %}
