<h1>Bonjour cher(e) visiteur {{ visiteur }},</h1>
Nous avons bien recu votre demande de contact et vous receverez une réponse dans les plus brefs délais.<br />
Nous vous souhaitons une très belle journée et nous vous disons à très bientôt.<br />
<br />
Cordialement,<br />
<br />
L'équipe de www.mon-super-site.com