{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Merci ! Nous avons recu votre demande.</h1>

Vous serez bientot recontacté(e) à votre adresse email : {{ email }}

{% endblock %}
