{% extends 'base.html.twig' %}

{% block title %}Edit Bon{% endblock %}

{% block body %}
    <h1>Edit Bon</h1>

    {{ include('admin_bon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_bon_index') }}">back to list</a>

    {{ include('admin_bon/_delete_form.html.twig') }}
{% endblock %}
