{% extends 'base.html.twig' %}

{% block title %}New Bon{% endblock %}

{% block body %}
    <h1>Create new Bon</h1>

    {{ include('admin_bon/_form.html.twig') }}

    <a href="{{ path('admin_bon_index') }}">back to list</a>
{% endblock %}
